{% if settings.ss_enable %}
  <div
    data-section-type="ss-recommendations"
    data-section-id="{{ section.id }}"
  >
    <script type="searchspring/personalized-recommendations" profile="{{ section.settings.profileId }}"></script>
  </div>
{% endif %}

{% schema %}
{
  "name": "SS Recommendations",
  "class": "searchspring-recommendations",
  "presets": [
    {
      "category": "{{ section.settings.category }}",
      "name": "SS Recommendations"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "profileId",
      "label": "Searchspring Recommendations Profile ID",
      "default": "home",
      "info": "The profileId can be found in the Searchspring Management Console"
    }
  ]
}
{% endschema %}
