 #container {
    display: flex;
}
#store-list {
    width: 30%;
    height: 100vh;
    overflow-y: auto;
}
#map {
    width: 70%;
    height: 100vh;
}
.closed {
    color: red;
}
.open {
    color: green;
}
h1 {
  padding: 35px 0;
}