<div class="container">
    <div class="sidebar">
        <h1>Store Locator</h1>
        <input type="text" id="location-input" placeholder="Enter a location">
        <button id="search-button">Search</button>
        <ul id="store-list"></ul>
    </div>
    <div id="map"></div>
</div>